<div class="card text-center">
  <div class="card-header">
    <div class="d-flex justify-content-around text-black-50">
      <div class="row">
        <div class="col-4">
          <div class="d-flex flex-column">
            <span><b>BLOCKSTELLAR</b></span>
            <span>&nbsp;</span>
            <span>Accede a los cursos de tecnología más novedosos y destacados del mercado</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column">
            <span><b>CURSOS</b></span>
            <span>&nbsp;</span>
            <span>Solidity</span>
            <span>&nbsp;</span>
            <span>Metaverso</span>
            <span>&nbsp;</span>
            <span>Three.js</span>
            <span>&nbsp;</span>
            <span>Docker</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex flex-column">
            <span><b>CONTACTO</b></span>
            <span>&nbsp;</span>
            <span>blockstellart@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted bg-dark">
     <span class="text-white">@ 2022 Copyright:BlockStellart.com</span>
  </div>
</div>
